@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

.lightBoxGallery {
  text-align: center;
}

.lightBoxGallery img {
  margin: 5px;
}

.after-icon, .after-button {
  margin-left: 4px;
}

.custom-sticked .action-bar {
  border-bottom-style: solid !important;
  border-bottom: 3px;
  border-color: #e7eaec;
}

.table-without-header {
  table {
    tr:first-of-type td {
      border-top: none;
    }
  }
}

.nav-header {
  height: 120px;
  width: 100%;

  .nav-header-button {
    display: flex !important;
    flex-flow: center;
    align-items: center;
    align-content: center;
    height: 100%;
    padding: 0;

    .item {
      flex-grow: 1;
      height: 100%;
    }

    .logo {
      width: 40%;

      > img {
        max-height: 100%;
      }
    }

    .text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      max-width: 60%;
      width: 60%;
      font-size: 1.6em;
      color: #ffffff;
    }
  }
}
